main.container > section.new-tweet {
  background-color: #eee;
  padding: 1em;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid #DADADA;
  display: none;
}

main.container > section.new-tweet > h2 {
  border-bottom: 1px solid black;
}

main.container > section.new-tweet > form > textarea {
  padding: 1em;
  width: 100%;
  resize: none;
}

main.container > section.new-tweet > div.error1 {
  display: none;
  margin: 10px 0px;
  padding:12px;
}

main.container > section.new-tweet > div.error2 {
  display: none;
  margin: 10px 0px;
  padding:12px;
}

.isa_error {
  color: #D8000C;
  background-color: #FFD2D2;
}

main.container > section.new-tweet > form > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main.container > section.new-tweet > form > div > input {
  padding: .5em;
  font-weight: 500;
  border-radius: 5px;
  border: 1px solid #000;
  background-color: #e6fdff;
  color: #279b88;
}

main.container > section.new-tweet > form > div > input:hover {
  background-color: #fff;
  color: #000;
}